.App {
  text-align: center;
  background: linear-gradient(134.72deg, #000000 0%, #05071A 49.93%, #18216D 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  height: 50px;
  margin: 10px auto;
  
}
